.about {
    background-image: url('/images/about-background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.logo {
    margin-top: 20px;
    width: 350px; 
}

.about-content {
    width: 100vh;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    font-size: 25px;
}

button, .button-back {
    margin: 10px;
    padding: 15px 30px; /* Ajuste de proporções */
    font-size: 24px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Bronco', serif;
    text-decoration: none;
    transition: all 0.3s ease;
}

button:hover, .button-back:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.05);
}

/* Ajuste do botão de voltar mantendo o estilo dos outros botões */
.button-back {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Removendo qualquer contorno extra ao clicar */
.button-back:focus {
    outline: none;
    box-shadow: none;
}
