body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main-menu {
  background-image: url('/images/tela-de-fundo.jpeg');
  background-size: cover;
  background-position: center;
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

@font-face {
  font-family: 'OldLondon';
  src: url('/fonts/OldLondon.ttf') format('truetype');
}

@font-face {
  font-family: 'Bronco';
  src: url('/fonts/Bronco.ttf') format('truetype');
}

.title {
  font-family: 'OldLondon', sans-serif;
  font-size: 140px;
  margin: 5%;
  color: rgb(243, 227, 206);
  text-shadow: 3px 3px 5px #ee2424;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px; /* sobe/desce os botões de jogar e sobre */
}

.buttons button, .buttons a {
  margin: 10px;
  padding: 16px 32px; /* aumenta/diminui o tamanho dos botões */
  font-size: 28px; /* aumenta/diminui fonte */
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'Bronco', serif;
  text-decoration: none;
  transition: all 0.3s ease;
}

.buttons button:hover, .buttons a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transform: scale(1.05);
}

.sound-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}
